body {
font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}


video{
  position: fixed;
  right: 0;
 bottom: 0;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 z-index: -100;
 background-size: cover;
}

header {

}
  .headline{
  display: inline-block;
  font-size: 35px;
  color: white;
  margin-left: 50px;
    text-shadow: 4px 4px 3px black;
    letter-spacing:2px;

}
ul li{
  list-style: none;
  display: inline-block;
}

.nav-list{
  float: right;
  margin-right: 100px;
  margin-top: 21px

}
.image1{
  padding: 50px;
}

main h2{
  text-align: left;
  margin-left: 50px;
  margin-top: 150px;
  font-size: 20px;
  color:white;
  text-shadow: 1px 2px 3px #808080;
  letter-spacing:1px;
  opacity: 1;
}




